/*-----------------Общие CSS-стили-----------------*/

*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
   /* добавим плавность переходов для всех элементов страницы*/
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   display: block;
   width: 100%;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display';
   font-weight: normal;
   letter-spacing: 2px;
}
body {
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 14px;
   line-height: 2;
   color: #ffffff;
   background: #000000;
   a:link {color: #91a68a;}      /* unvisited link */
   a:visited {color: #91a68a;};   /* visited link */
   a:hover {color: #b7cfaf;}     /* mouse over link */
   a:active {color: #91a68a;}    /* selected link */
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after {
   content: "";
   display: table;
   clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   padding: 0 15px;
}
::selection {
   background-color: #91a68a;
   color: #fff;
}
ol {
   padding-left: 10px;
}

/*-----------------Стили для шапки и её содержимого-----------------*/

header {
   width: 100%;
   background: rgb(0, 0, 0);
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 15px 0;
   margin-bottom: 30px;
   position: relative;
}
/* логотип */
.logo {
   display: block;
   float: left;
}
.logo span {
   color: #91a68a;
   display: inline-block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 5px 0;
   text-align: center;
   text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
}
/* меню */
#menu {
   float: right;
}
#menu li {
   display: inline-block;
   margin-right: 30px;
}
#menu a {
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   display: block;
   line-height: 40px;
}
#menu a:hover {
   color: #91a68a;
}
#menu li:last-child {
   margin-right: 0;
}

/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
   display: none;
   position: relative;
   float: right;
   width: 40px;
   height: 40px;
   margin-left: 20px;
   background: #91a68a;
   cursor: pointer;
}
.nav-toggle span {
   display: block;
   position: absolute;
   top: 19px;
   left: 8px;
   right: 8px;
   height: 2px;
   background: #7a8c74;
}
.nav-toggle span:before, .nav-toggle span:after {
   content: "";
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 2px;
   background: #7a8c74;
}
.nav-toggle span:before {
   top: -10px;
}
.nav-toggle span:after {
   bottom: -10px;
}
/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu.active {
   max-height: 123px;
}


/*-----------------Стили для блока с основным содержимым-----------------*/

.home-block {
   margin-bottom: 30px;
   width: 100%;
   float: left;
   padding: 20em 0 20em;
   text-align: center;
}
.list {
   margin-bottom: 30px;
   width: 100%;
   float: left;
}
.title {
   margin-bottom: 12px;
   font-size: 26px;
   color: #9cb394;
   text-align: center;
}

/*-----------------Стили для нижнего колонтитула-----------------*/

footer {
   padding: 30px 0;
   background: #3C3D41;
   color: white;
}
.footer-col {
   width: 33.3333333333%;
   float: left;
}
.footer-col a {
   color: white;
}
.footer-col:last-child {
   text-align: right;
}
.social-bar-wrap {
   text-align: center;
}
.social-bar-wrap a {
   padding: 0 7px;
   font-size: 18px;
}


/*-----------------Медиа-запросы-----------------*/

@media (max-width: 768px) {
   /* показываем кнопку для переключения верхней навигации */
   .nav-toggle {
      display: block;
   }
   header {
      padding: 10px 0;
   }
   /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
   #menu {
      max-height: 0;
      background: rgb(0, 0, 0);
      float: none;
      position: absolute;
      overflow: hidden;
      top: 63px;
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 3;
   }
   /* делаем элементы списка блочными, чтобы они располагались друг под другом */
   #menu li{
      display: block;
      text-align: center;
      border-bottom: 1px solid #EBEBE3;
      margin-right: 0;
   }
}

@media (max-width: 480px) {
   /* отменяем обтекание для логотипа и выравниваем по центру*/
   .logo {
      float: none;
      margin: 0 auto 15px;
      display: table;
   }
   .logo span {
      margin: 0 2px;
   }
   /* позиционируем меню на увеличившуюся высоту шапки */
   #menu {
      top: 118px;
   }
   /* отменяем обтекание для столбцов подвала страницы */
   .footer-col {
      float: none;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
   }
   .footer-col:last-child {
      text-align: center;
      margin-bottom: 0;
   }
}